/* font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */
:root {
  --basic-color: #f0e8e0;
  --additional-color: #656464;
  --basic-font-family: "Playfair Display", serif;
  --additional-font-family: "Raleway", sans-serif;
}
.logo {
  background-color: black;
  color: var(--basic-color);
  padding: 10px 15px;
  text-align: center;
  font-size: 24px;
}
.hero {
  background: var(--basic-color);
  font-family: var(--additional-font-family);
  border: 10px solid black;
}
h1,
h2 {
  font-family: var(--basic-font-family);
}
.titleName {
  font-size: 96px;
  margin-left: 50px;
  margin-top: 30px;
}
.titleSecondName {
  margin-left: 200px;
  font-size: 74px;
}
.info {
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 200px;
  font-family: var(--basic-font-family);
  font-size: 14px;
}
ul {
  list-style: none;
}
nav {
  margin-top: 15px;
}
nav a {
  text-decoration: none;
  color: var(--additional-color);
}
nav a:hover,
nav li.active a {
  color: black;
}
li {
  display: inline;
  margin: 10px;
}

img {
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 40px;
}

.socialLinks {
  color: var(--additional-color);
  text-decoration: none;
  margin-bottom: 35px;
}
.socialLinks:hover {
  color: black;
}
@media (max-width: 1200px) {
  .titleName,
  .titleSecondName,
  .info,
  img {
    margin: 0 auto;
    display: block;
  }
  li {
    font-size: 12px;
  }
  .titleName,
  .titleSecondName {
    font-size: 24px;
  }
  .titleName {
    margin-top: 20px;
  }
  .info {
    margin-top: 20px;
    font-size: 12px;
  }
  .socialLinks {
    font-size: 12px;
    margin-top: 20px;
  }
}
