:root {
  --basic-color: #f0e8e0;
  --additional-color: #656464;
  --basic-font-family: "Playfair Display", serif;
  --additional-font-family: "Raleway", sans-serif;
}
.logo {
  background-color: black;
  color: var(--basic-color);
  padding: 10px 15px;
  text-align: center;
  font-size: 24px;
}
.hero {
  background: var(--basic-color);
  font-family: var(--additional-font-family);
  border: 10px solid black;
}
h1,
h2,
h3,
h4,
h6,
p {
  font-family: var(--basic-font-family);
}
.content-container h1 {
  font-size: 96px;
  margin: 30px 0px 0px 50px;
}
.content-container h2 {
  margin-left: 200px;
  font-size: 74px;
}
.info {
  margin: 50px 0px 120px 200px;
  font-size: 14px;
}
nav a,
.socialLinks {
  text-decoration: none;
  color: var(--additional-color);
}
nav a:hover,
nav li.active a,
.socialLinks:hover {
  color: black;
}
li {
  display: inline;
}
.capitalPhoto {
  max-width: 100%;
  margin: 25px 0px 40px 0px;
}
.secondaryPhoto {
  max-width: 80%;
  margin: 20px 0px 0px 40px;
}
.content-container h3 {
  margin-top: 10px;
  font-size: 40px;
}
.content-container h4 {
  margin-left: 50px;
  font-size: 36px;
}
.content-container h6 {
  margin-bottom: 235px;
}
@media (max-width: 1200px) {
  .content-container h1,
  .content-container h2,
  .content-container h3,
  .content-container h4,
  .content-container h6,
  .content-container p,
  .content-container img {
    margin: 0 auto;
    display: block;
  }
  .content-container li {
    font-size: 12px;
  }
  .content-container h1,
  .content-container h2,
  .content-container h3,
  .content-container h4 {
    font-size: 24px;
  }
  .content-container h1,
  .content-container p,
  .socialLinks {
    margin-top: 20px;
  }
  .content-container h6 {
    font-size: 12px;
  }
  .content-container p {
    font-size: 12px;
  }
  .socialLinks {
    font-size: 12px;
  }
}
