:root {
  --basic-color: #f0e8e0;
  --additional-color: #656464;
  --basic-font-family: "Playfair Display", serif;
  --additional-font-family: "Raleway", sans-serif;
}
.logo {
  background-color: black;
  color: var(--basic-color);
  padding: 10px 15px;
  text-align: center;
  font-size: 24px;
}
.hero {
  background: var(--basic-color);
  font-family: var(--additional-font-family);
  border: 10px solid black;
}
h1,
h2,
p {
  font-family: var(--basic-font-family);
}
.firstName {
  font-size: 96px;
}
.secondName {
  margin-left: 190px;
  font-size: 74px;
}
.info {
  margin: 50px 0px 120px 200px;
  font-size: 14px;
}
nav a,
.socialLinks {
  text-decoration: none;
  color: var(--additional-color);
}
nav a:hover,
nav li.active a,
.socialLinks:hover {
  color: black;
}
li {
  display: inline;
}
.capitalPhoto {
  max-width: 100%;
  margin: 25px 0px 40px 0px;
}
.funnyPhoto {
  max-width: 40%;
}
.aboutBlock {
  margin-bottom: 235px;
}
.typesOfTools {
  font-size: 12px;
  color: var(--additional-color);
}
.photoProject {
  max-width: 100%;
  border: 1px solid black;
  display: block;
}
.button {
  margin-top: 50px;
}
.buttonLink {
  background-color: black;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--basic-color);
  border: 1px solid black;
  transition: all 200ms ease-in-out;
}
.buttonLink:hover {
  background-color: var(--basic-color);
  color: black;
  text-decoration: none;
}
.contactTitle {
  font-size: 24px;
  text-decoration: underline;
  letter-spacing: 0.5px;
}

@media (max-width: 1200px) {
  .content-container h1,
  .content-container h2,
  .content-container p {
    margin: 0 auto;
    display: block;
  }
  .firstName,
  .secondName {
    font-size: 24px;
  }
  .content-container li,
  .content-container p,
  .socialLinks {
    font-size: 12px;
  }
  .content-container h1,
  .content-container p,
  .socialLinks {
    margin-top: 20px;
  }
}
